# Do not upload: commercially published, in-copyright book (Prentice-Hall,
# ISBN 0-13-806936-0). Kept locally as a working reference only; cited in
# NS32CG16/README.md but not redistributed in this repo or on the Internet Archive.
NS32CG16/Series_32000_Programmers_Reference_Manual_Hunter_1987.pdf
